* {
    overflow: hidden;
}

#cartBar {
    top: 0;
    right: 0;
    position: absolute;
    background-color: #FFFFFF;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    border-radius: 30px 0px 0px 30px;
    filter: drop-shadow(10px 0px 15px rgb(0, 0, 0, 0.5));
    overflow: hidden;
    
    z-index: 1;
    transform: translateX(0px);
    transition: transform 0.4s ease-in-out;
    transform: translateX(500px);
}

#cartBarHeading {
    display: flex;
    color: #FFFFFF;
    padding: 20px 50px;
    font-size: 1.2rem;
    background-color: #1028B0;
}

#cartBarHeading h2 {
    text-align: right;
    margin: 0;
    margin-left: 15px;
}

#cartBarHeading #cart_close_btn {
    position: absolute;
    top: 2.5%;
    left: 7%;
    font-size: 1.6rem;
}

#cartBarBody {
    padding: 60px 20px;
}